/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* ~~~~~~~~~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~~~~~~~~~~ */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


/* ~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~ */

.banner {
  background-color: #0fb9b1;
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  padding: 17px;
}

.add-recipe-button {
  font-size: 15px;
  height: 38px;
  width: 130px;
  border: 0;
  border-radius: 6px;
  margin-right: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~ */

body, html {
  background-image: url('./assets/burger-friends.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.home-view {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.input-box {
  background-color: rgba(225, 225, 225, .9);
  height: 410px;
  width: 510px;
  margin-top: 50px;
}

fieldset {
  border: 0;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.prompt {
  font-size: 30px;
  font-weight: bold;
  margin: 60px 0px 15 10px;
}

.asterick {
  color: #ee5253;
}

.form-style {
  padding: 10px;
}

#entire-meal {
  margin-bottom: 15px;
}

.lets-cook-button {
  background-color: #0fb9b1;
  font-size: 16px;
  height: 38px;
  width: 200px;
  border: 0;
  border-radius: 6px;
  margin-left: 15px;
}

.output-box {
  background-color: rgba(225, 225, 225, .9);
  height: 410px;
  width: 510px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cookpot {
  height: auto;
  width: 110px;
  margin: auto;
}

.recipe-prompt {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  align-self: flex-end;
}

.recipe-display {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 38px;
  width: 80px;
  border: 0px;
  border-radius: 6px;
  margin-top: 330px;
  margin-left: 385px;
  position: absolute;
}

/* ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~ */

footer {
  background-color: rgba(225, 225, 225, .9);
  height: 85px;
  margin-top: 205px;
  display: flex;
  align-items: center;
}

.input-form {
  margin-bottom: 0;
}

.recipe-input {
  margin: 25px 10px 0px 15px;
}

.text-input {
  height: 40px;
  width: 170px;
  border: solid;
  border-color: #95a5a6;
  border-width: 2px;
  border-radius: 3px;
}

.add-new-button {
  background-color: #0fb9b1;
  font-size: 15px;
  font-weight: bold;
  height: 38px;
  width: 100px;
  border: 0;
  border-radius: 6px;
  margin-left: 20px;
}

.error-message {
  color: #ee5253;
  margin: 15px 0px 15px 15px;
}

.hidden {
  display: none;
}

.small-font-size {
  font-size: 25px;
  margin: 25px 35px 10px 35px;
}
